{{define "title"}}CGN | Create Event{{end}}

{{define "content"}}
<form action="/events/create" method="post">
  <div>
    <label for="name">Name</label><br />
    <input
      type="name"
      id="name"
      name="name"
      required
      spellcheck
      autocomplete="name"
    /><br />
  </div>
  <div>
    <label for="Description">Description</label><br />
    <textarea
      id="description"
      name="description"
      required
      spellcheck="true"
      autocomplete="off"
    >
    </textarea>
  </div>
  <br />
  <input type="submit" value="Submit" />
</form>
{{ end }}
