{{define "title"}}
CGN | Event Details
{{end}}

{{define "content"}}

    <p>{{.Event.Title}}</p>
    <p>{{.Event.Description}}</p>
    <p>{{.Event.StartDateTime}}</p>
    <p>{{.Event.EndDateTime}}</p>

    {{$isOnline := .Event.IsOnline}}

    {{if (eq $isOnline 1)}}
        <p>This event is online</p>
    {{else}}
        <p>This event is in person</p>
    {{end}}

<a href="/events/{{ .Event.Id }}/edit">Edit</a>
<a hx-delete="/events/{{ .Event.Id }}" hx-boost="false" style="text-decoration: underline">Delete</a>

{{end}}